@font-face {
  font-family: JetBrainsMono;
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
}

body {
  font-family: "JetBrainsMono", monospace;
  padding: 1em 15vw 3em;
}

::selection {
  background-color: #b075cd;
}
::-moz-selection {
  background-color: #b075cd;
}

h1.title {
  font-family: "Inter", sans-serif;
  font-size: 2.3em;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  h1.title {
    width: 100%;
    font-size: 2.01em;
  }
}

a {
  color: #b075cd;
  text-decoration: underline;
}
a::selection {
  color: #000;
}
a::-moz-selection {
  color: #000;
}
